* {
	font-family: sans-serif;
	text-align: center;
}

html {
	background-image: url('../images/keg-taps-scaled.jpeg');
	background-color: black;
	background-repeat: no-repeat;
	background-size: 100%;
}

body {
	margin: 0 auto;
}

#container {
	position: relative;
}

#title {
	font-size: 50px;
	font-weight: bold;
	color: gold;
}

#tagline {
	color: gold;
}

#footer {
	/* display: block; */
	background-color: black;
	height: 40px;
	width: 100%;
	position: absolute;
	color: white;
	bottom: 0;
	padding-top: 20px;
}
