@font-face {
	font-family: cloister-black;
	src: url(../fonts/cloister-black.ttf);
}

@font-face {
	font-family: anyva;
	src: url(../fonts/anyva.otf);
}

@font-face {
	font-family: the-blacklist;
	src: url(../fonts/the-blacklist.ttf);
}

* {
	font-family: sans-serif;
	text-align: center;
}

html {
	position: absolute;
	top: 0;
	background-image: url(../images/keg-taps-scaled.jpeg);
	background-color: black;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 15%;
	height: 700px;
	width: 1000px;
}

body {
	margin: 0 auto;
}

#container {
	position: relative;
}

#title {
	font-family: cloister-black;
	font-size: 72px;
	font-weight: normal;
	color: gold;
	text-shadow: 2px -5px 5px black;
}

#tagline {
	font-family: the-blacklist;
	font-size: 32px;
	text-shadow: 1px -2px 1px black;
	color: gold;
}

#footer {
	font-size: 20px;
	background-color: black;
	height: 22px;
	width: 100%;
	color: gold;
	bottom: 0;
	position: absolute;
	padding-top: 5px;
	padding-bottom: 10px;
}

#footer span {
	font-family: the-blacklist;
}

#footer a {
	font-family: the-blacklist;
	text-decoration: none;
	transition: color 0.2s ease;
	color: gold;
}

#footer a:visited {
	color: gold;
}

#footer a:hover {
	transition: color 0.2s ease;
	color: white;
}

#nav {
	margin-top: 10px;
}

#nav a:hover {
	transition: color 0.2s ease;
	color: white;
}

#about-link {
	font-family: the-blacklist;
	transition: color 0.2s ease;
	color: gold;
	padding-right: 10px;
	border-right: solid gold 2px;
	font-size: 32px;
	text-shadow: 1px -2px 1px black;
}

#contact-link {
	font-family: the-blacklist;
	transition: color 0.2s ease;
	color: gold;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 32px;
	text-shadow: 1px -2px 1px black;
}

#menu-link {
	font-family: the-blacklist;
	transition: color 0.2s ease;
	color: gold;
	padding-left: 10px;
	border-left: solid gold 2px;
	font-size: 32px;
	text-shadow: 1px -2px 1px black;
}
